#wdm {
  .intro {
    @media (max-width: 576px) {
      padding-top: 3rem !important;
    }
  }

  .banner {
    overflow-y: hidden;

    img {
      width: 100%;
      height: auto;
      @media (max-width: 576px) {
        margin-top: 110px;
        transform: scale(2,2);
      }
    }
  }

  .header-banner {
    width: 80%;
    height: auto;
  }


  .section-heading {
    font-size: 20px;
    letter-spacing: 3px;
  }

  .section-padding {
    padding: 4.8rem 0 3rem;
  }

  .padding-top-4 {
    padding: 4rem 0 0;
  }

  .padding-bottom-8 {
    padding: 0 0 8rem 0;
  }

  .container-fluid-padding {
    @media (min-width: 992px) {
      padding: 0 4rem;
    }
    @media (min-width: 1200px) {
      padding: 0 6rem;
    }
    @media (min-width: 1500px) {
      padding: 0 8rem;
    }
  }

  .wdm-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // .heading-desktop {
    //   align-items: center;
    //   justify-content: center;
    // }
  }

  .wdm-content-vertical-padding {
    padding: 3rem;
    @media (min-width: 1500px) {
      padding: 10rem 3rem;
    }
    @media (min-width: 1680px) {
      padding: 15rem 3rem;
    }
  }

  .projects {
    // overlay card
    .overlay-cards {
      .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 0.5s ease;
        backface-visibility: hidden;
      }

      .middle {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        background-color: $theme-yellow;
        width: 100%;
        height: 100%;
      }

      .container:hover .image {
        opacity: 0.3;
      }

      .container:hover .middle {
        opacity: 0.8;
      }

      .text {
        color: white;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

      .sub-title-hide {}

      .container:hover .sub-title-hide {
        visibility: hidden;
      }
    }
  }



  hr {
    max-width: 50px;
    border-width: 0;
  }

  .override-mwidth {
    max-width: 827px !important;
  }

  .text-auto {
    text-align: -webkit-auto;
  }

  .p-lineheight {
    font-size: 14px;
    line-height: 23px;
    @media (min-width: 1200px) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .heading-mobile {
    @media (min-width: 992px) {
      display: none;
    }
  }

  .heading-desktop {
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
  }
}
