body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

hr {
  margin: 2em 0;
}

.pagination {
  margin-bottom: 15px;
}

.screenshot {
  width: 700px;
  height: auto;
  max-height: 300px;
  box-shadow: 0 0 5px #888;
}

nav.navbar-demopage {
  height: 72px;
  background: linear-gradient(#92847b, #b99143);
}

.nav-logo {
  height: 54px;
}

.fill:hover {
  color: #fff !important;
  border-color: #b59042 !important;
}

.fill:before {
  content: "";
  position: absolute;
  background: #bb923c;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease-in;
}

.fill:hover:before {
  right: 0;
}

.btn {
  border: 1px solid black !important;
}

.btn-yellow {
  font-family: "Avenir Next" !important;
  padding: 12px !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  font-size: 0.75rem !important;
  position: relative;
  width: 150px;
  margin: 10px 7px;
  padding: 5px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  color: #383736;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.btn-main {
  margin: 0.4em;
  padding: 0.6em 3em 0.6em 2em;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 5px;
}

.btn-main:hover {
  border-style: hidden;
  text-decoration: none !important;
}

.btn-effect {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  background-image: url("../img/arrow-right-black.png");
  background-position: 85% 52%;
  background-repeat: no-repeat;
  background-size: 0.6em 1em;
  border-radius: 5px;
}

.btn-effect:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b99143;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 5px;
}

.btn-effect:active,
.btn-effect:focus,
.btn-effect:hover {
  color: white;
}

.btn-effect:active:before,
.btn-effect:focus:before,
.btn-effect:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-image: url("../img/arrow-right-white.png");
  background-position: 85% 52%;
  background-repeat: no-repeat;
  background-size: 0.6em 1em;
}

.footer .copyright {
  background-color: #222222;
  color: #9b9b9b;
  font-size: 0.75rem;
}

.footer .contact {
  align-items: flex-end;
  min-height: 250px;
  background-color: #4b4a4a;
}

.footer .contact .col-xs-4 {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.footer .bring-icon {
  width: 62px;
}

.footer .social-box {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-right: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.footer .social-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.footer .social-box i {
  color: white;
  font-size: 1em;
  margin: auto;
  padding-left: 4px;
  text-align: center;
  vertical-align: middle;
}

.footer .social-box:hover i {
  color: #b59042;
}

.footer .social-box:hover {
  border: 1px solid #b59042 !important;
}

.footer .social-box {
  border: 1px solid #fff;
  border-radius: 50%;
}

.footer .social-box .fab {
  color: #fff;
}

.footer .logo {
  height: 100px;
  width: auto;
}

@media (max-width: 576px) {
  .footer .logo {
    height: 60px;
  }
}

.footer .contact-info {
  color: #fff;
  font-size: small;
}

.footer .contact-info strong {
  visibility: hidden;
}

.footer .qrcode:hover:after {
  background-image: url("../img/home/qr-code.jpg");
  background-size: 100px 100px;
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  content: "";
  bottom: 30px;
  left: 40px;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: transparent;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#mainNav .navbar-toggler {
  border-color: #fff;
  border: 0;
}

#mainNav .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#mainNav .navbar-toggler .button:focus {
  outline: 0 auto -webkit-focus-ring-color !important;
}

#mainNav .dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

#mainNav .dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

#mainNav .dropdown-menu {
  background-color: rgba(33, 37, 41, 0.5);
  border-radius: 0;
}

#mainNav .dropdown-menu .dropdown-item {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

#mainNav .dropdown-menu .dropdown-item strong {
  color: #b59042;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#mainNav .dropdown-menu .dropdown-item:focus, #mainNav .dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
  color: #b59042;
}

#mainNav .navbar-brand {
  font-weight: 700 !important;
  text-transform: uppercase;
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand img {
  width: 35px;
  height: auto;
  margin-right: 50px;
  margin-left: 50px;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav {
  cursor: pointer;
}

@media (max-width: 576px) {
  #mainNav .navbar-nav {
    background-color: rgba(33, 37, 41, 0.8);
  }
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  cursor: pointer;
  line-height: 60px;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

@media (max-width: 576px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    padding-left: 2rem !important;
  }
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #b59042 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    display: none;
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: rgba(33, 37, 41, 0.9);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05b3c;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #adb5bd;
    font-weight: 100 !important;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
}

.nav-scrolled {
  background-color: rgba(33, 37, 41, 0.9);
  font-size: 0.9rem;
  font-weight: 300;
  right: auto !important;
  width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-scrolled .navbar-toggler {
  border-color: #fff;
  border: 0;
}

.nav-scrolled .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-scrolled .navbar-toggler .button:focus {
  outline: 0 auto -webkit-focus-ring-color !important;
}

.nav-scrolled .dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.nav-scrolled .dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

.nav-scrolled .dropdown-menu {
  background-color: rgba(33, 37, 41, 0.9);
  border-radius: 0;
}

.nav-scrolled .dropdown-menu .active {
  color: #b59042 !important;
  background-color: transparent !important;
}

.nav-scrolled .dropdown-menu .dropdown-item {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

.nav-scrolled .dropdown-menu .dropdown-item strong {
  color: #b59042;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-scrolled .dropdown-menu .dropdown-item:focus, .nav-scrolled .dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
  color: #b59042;
}

.nav-scrolled .brand-icon {
  height: auto;
  width: 80px;
}

@media (min-width: 576px) {
  .nav-scrolled .brand-icon {
    margin-left: 5rem;
  }
}

.nav-scrolled .navbar-nav > li.nav-item {
  cursor: pointer;
}

@media (min-width: 576px) {
  .nav-scrolled .navbar-nav > li.nav-item {
    margin-right: 4rem !important;
  }
}

.nav-scrolled .navbar-nav > li.nav-item > a.nav-link,
.nav-scrolled .navbar-nav > li.nav-item > a.nav-link:focus {
  line-height: 30px;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  padding-left: 0 !important;
  padding-right: 2rem !important;
}

@media (max-width: 576px) {
  .nav-scrolled .navbar-nav > li.nav-item > a.nav-link,
  .nav-scrolled .navbar-nav > li.nav-item > a.nav-link:focus {
    padding-left: 2rem !important;
  }
}

.nav-scrolled .navbar-nav > li.nav-item > a.nav-link:hover,
.nav-scrolled .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

.nav-scrolled .navbar-nav > li.nav-item > a.nav-link.active,
.nav-scrolled .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #b59042 !important;
  background-color: transparent;
}

.nav-scrolled .navbar-nav > li.nav-item > a.nav-link.active:hover,
.nav-scrolled .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  .nav-scrolled {
    background-color: rgba(33, 37, 41, 0.9);
    font-size: 0.9rem;
    font-weight: 300;
  }
  .nav-scrolled .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .nav-scrolled .navbar-brand:focus, .nav-scrolled .navbar-brand:hover {
    color: #fff;
  }
  .nav-scrolled .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  .nav-scrolled .navbar-nav > li.nav-item > a.nav-link,
  .nav-scrolled .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .nav-scrolled .navbar-nav > li.nav-item > a.nav-link:hover,
  .nav-scrolled .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  .nav-scrolled.navbar-shrink {
    display: none;
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: rgba(33, 37, 41, 0.9);
  }
  .nav-scrolled.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  .nav-scrolled.navbar-shrink .navbar-brand:focus, .nav-scrolled.navbar-shrink .navbar-brand:hover {
    color: #f05b3c;
  }
  .nav-scrolled.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  .nav-scrolled.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #adb5bd;
    font-weight: 100 !important;
  }
  .nav-scrolled.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  .nav-scrolled.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
}
